/* KEYFRAMES */

@keyframes heart-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-opacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.like-icon {
  display: block;
  transform-origin: center;
}

.contour {
  fill: var(--contour-heart-color);
  transition: fill 0.1s linear;
}

.main-body,
.core {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.sparks {
  opacity: 0;
  fill: var(--sparks-heart-color);
}

@media (hover: hover) and (pointer: fine) {
  /* HOVER */

  .card__icon-button:hover .like-icon:not(.is-liked) .core {
    fill: var(--main-body-heart-color);
    transition: fill 0.3s linear;
  }

  .card__icon-button:hover .like-icon:not(.is-liked) .main-body {
    fill: var(--main-body-heart-color);
    transition: fill 0.3s linear 0.05s;
  }

  .card__icon-button:hover .like-icon:not(.is-liked) .contour {
    fill: var(--contour-heart-color);
  }
}

/* ACTIVE */

.card__icon-button:active .like-icon:not(.is-liked) .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon:not(.is-liked) .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/* LIKED */

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-opacity 0.3s ease-in 0.3s 1;
}

/* UNLIKE */

.like-icon:not(.is-liked) .core,
.like-icon:not(.is-liked) .main-body {
  fill: transparent;
}

.like-icon:not(.is-liked) .contour {
  fill: var(--contour-heart-color);
}
