.page {
  font-family: var(--font-main);
  background-image: var(--page-background-image);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-weight-text);
}

/* CONTAINER */

.content-width {
  inline-size: 100%;
  max-inline-size: var(--content-width);
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  padding-block-start: var(--header-padding-top);
  padding-block-end: var(--header-padding-bottom);
}

/* БЛОК ХЕДЕРА */

.header__block {
  display: grid;
  place-items: center;
  gap: 20px;
  border: var(--button-border-size) solid var(--color-black);
  padding-block: 130px;
  background-color: var(--color-white);
  inline-size: 100%;
  max-inline-size: var(--content-width);
}

/* ТЕКСТ */

.header__title {
  font-family: var(--font-accent);
  font-size: var(--header-title-size);
  line-height: 1;
}

.header__subtitle {
  font-family: var(--font-accent);
  font-size: var(--header-subtitle-size);
  line-height: 1;
  text-transform: uppercase;
}

/* CONTENT */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding-block-end: 50px;
}

/* CARD */

.card {
  display: flex;
  flex-direction: column;
  border: var(--button-border-size) solid var(--color-black);
  background-color: var(--color-white);
  inline-size: 100%;
}

.card__title {
  padding: 4px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
}

.card__image-wrapper {
  position: relative;
  border-block: var(--button-border-size) solid var(--color-black);
}

.card__image {
  display: block;
  inline-size: 100%;
}

/* FILTERS */

.image__blur {
  filter: blur(0.3px);
}
.image__mixed {
  filter: grayscale(20%) contrast(1.2) brightness(0.8) blur(0.6px);
}
.image__saturate {
  filter: saturate(1.4);
}
.image__contrast {
  filter: contrast(1.25);
}
.image__sepia {
  filter: sepia(30%);
}
.image__hue-rotate {
  filter: hue-rotate(10deg);
}
.image__grayscale {
  filter: grayscale(30%);
}
.image__brightness {
  filter: brightness(1.2);
}

/* WATERMARK */

.card__watermark {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 2;
  opacity: var(--watermark-opacity);
  color: var(--color-black);
  font-family: var(--font-accent);
  font-size: var(--watermark-font-size);
  text-transform: uppercase;

  text-shadow: -1px 0 var(--watermark-stroke-color),
    1px 0 var(--watermark-stroke-color), 0 -1px var(--watermark-stroke-color),
    0 1px var(--watermark-stroke-color);
  pointer-events: none;
  mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--watermark-stroke-color)) or
  (text-stroke: 1px var(--watermark-stroke-color)) {
  .card__watermark {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--watermark-stroke-color);
    text-stroke: 1px var(--watermark-stroke-color);
  }
}

/* TEXT */

.card__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
  line-height: 1.21;
}

.card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 7px;
  padding: 25px;
}

/* BUTTON */

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--button-border-size) solid var(--button-accent-color);
  outline: none;
  overflow: hidden;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1;
  background-color: var(--button-bg-color);
  transition: box-shadow var(--button-transition-focus);
  cursor: pointer;
}

/* Focus */

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--button-accent-color);
}

/* Hover overlay */

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background: var(--button-accent-color);
  transition: transform var(--button-transition-hover);
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button:focus-visible::before {
  transform: translateX(-100%);
}

/* Button text */

.button__text {
  position: relative;
  z-index: 1;
  display: inline-flex;
  align-items: center;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

/* LIKE BUTTON */

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 130px;
  block-size: 38px;
}

/* HEART BUTTON */

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  border: none;
  padding: 0;
  outline: 2px solid transparent;
  background: transparent;
  transition: outline-color 0.3s ease;
  cursor: pointer;
  inline-size: 39px;
}

.card__icon-button:focus-visible {
  outline-color: var(--button-accent-color);
}

/* SAVE */

.save__container {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.button__save {
  gap: 8px;
  padding: 17px 18px;
  inline-size: 335px;
}

/* ICONS */

.icon {
  display: block;
  flex-shrink: 0;
}

.like-icon {
  flex-shrink: 0;
  inline-size: 39px;
  block-size: 36px;
}

.floppy-icon {
  position: relative;
  z-index: 1;
  color: var(--button-text-color);
  mix-blend-mode: difference;
}

.button__save .floppy-icon {
  inline-size: 21px;
  block-size: 21px;
}

.dialog .floppy-icon {
  inline-size: 39px;
  block-size: 39px;
}

/* DIALOG */

.dialog {
  position: fixed;
  inset: 0;
  display: none;
  place-items: center;
  margin: auto;
  border: none;
  padding: 0;
  background: transparent;
}

.dialog[open] {
  display: grid;
}

.dialog::backdrop {
  background-color: var(--backdrop-bg);
}

.dialog__content {
  display: grid;
  gap: 30px;
  border: var(--button-border-size) solid var(--color-black);
  padding: 30px;
  background: var(--color-white);
  inline-size: 353px;
}

.dialog__row {
  display: grid;
  grid-template-columns: 39px 1fr;
  align-items: center;
  gap: 20px;
}

.dialog__title {
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 1.5;
  text-transform: uppercase;
}

.button__dialog {
  padding: 12.5px 0;
  inline-size: 100%;
}

.button__dialog .button__text {
  text-transform: uppercase;
}

/* MOBILE ADAPTIVE */

@media (width <= 376px) {
  /* HEADER */

  .header {
    padding-block-end: 100px;
  }

  .header__block {
    padding-block: 122px;
  }

  /* SAVE */
  .button__save {
    flex-direction: column;
    padding: 16px 0;
    inline-size: 306px;
  }

  .button__save .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }

  /* DIALOG */

  .dialog__content {
    padding: 30px 40px;
    inline-size: 341px;
  }
}
