:root {
  /* FONTS */
  --font-accent: "PressStart2P", fantasy;
  --font-main: "Inter", system-ui, Arial, sans-serif;
  --font-weight-text: 410;
  --font-weight-title: 715;

  /* BACKGROUND */
  --page-background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);

  /* LAYOUT */
  --content-width: clamp(375px, calc(30.5vw + 260.6px), 700px);
  --header-padding-top: 100px;
  --header-padding-bottom: 98px;

  /* FONT SIZES */
  --header-title-size: clamp(49px, calc(1.5vw + 43.38px), 65px);
  --header-subtitle-size: clamp(14px, calc(0.85vw + 10.83px), 23px);

  /* COLORS */
  --color-black: #000;
  --color-white: #fff;
  --watermark-stroke-color: #fff;
  --backdrop-bg: rgb(0 0 0 / 0.75);

  /* BUTTONS */
  --button-text-color: #fff;
  --button-accent-color: #000;
  --button-bg-color: #fff;
  --focus-shadow-color: #000;
  --button-border-size: 2px;
  --button-shadow-offset: 2px;
  --button-transition-focus: 0.3s ease;
  --button-transition-hover: 0.5s ease-in-out;

  /* WATERMARK */
  --watermark-opacity: 0.5;
  --watermark-font-size: 14px;

  /* LIKE ICON */
  --contour-heart-color: #000;
  --main-body-heart-color: #000;
  --sparks-heart-color: #ff0000;
  --animation-fill-color: #ff0000;
}
